<div class="container">
<!--   <div class="signup-content">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <h2 class="form-title">Create account</h2>
    <div class="form-group">
    <input type="text" formControlName="name" class="form-input" placeholder="Your Name">
    </div>
    <div class="form-group">
    <input type="email" class="form-input" formControlName="email"  placeholder="Your Email">
    </div>
    <div class="form-group">
    <input type="text" class="form-input" formControlName="password" placeholder="Password">
    <span toggle="#password" class="zmdi field-icon toggle-password zmdi-eye"></span>
    </div>
    <div class="form-group">
    <input type="password" class="form-input" formControlName="confirmPassword" placeholder="Repeat your password">
    </div>
    <div class="form-group">
    <input type="checkbox" class="agree-term">
    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
    </div>
    <div class="form-group">
    <button  class="btn btn-primary">Submit</button>
    </div>
    </form>
    <p class="loginhere">
    Have already an account ? <a href="#" class="loginhere-link">Login here</a>
    </p>
    </div> -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="margin-top:20%">
    <div class="form-group">
        <label for="firstName">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
       
    </div>
</form>
</div>